body {
    background-color: rgb(240, 240, 243);
    text-align: center;
    color: #19b841;
}

body>table {
    width: 80%;
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
}

.thead {
    color: rgba(17, 20, 218, 0.89);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td,
th {
    border: 2px solid #09637f;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #99aab4;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: rgb(24, 104, 202);
    color: rgb(211, 17, 17);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
    float: right;
}

form.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #f2f2f7;
    margin-right: 4px;
}

label.validation-error {
    color: rgb(7, 216, 94);
    margin-left: 5px;
}

.hide {
    display: none;
}